body {
    background-image: url("https://imgs.search.brave.com/jQifuRkokkNxzlMhcBfbE6tX6vBILPHAVMrO58KWd-g/rs:fit:500:0:1:0/g:ce/aHR0cHM6Ly9yZW50/aW5nZmluZGVycy5j/b20vd3AtY29udGVu/dC91cGxvYWRzLzIw/MjAvMDkvY29ub2Nl/LWVmZWN0b3MtY2Fy/cmV0ZXJhLmpwZw");
    background-repeat: no-repeat;
    background-size: cover;
}

.circle {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    padding: 50px;
}
.counter {
    background-color: rgb(18, 37, 18);
    padding: 10px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 80px;
    width: fit-content;
    align-items: center;
}

.red-on {
    background-color: red;
    box-shadow: 0 0 3rem red;

}

.red-off {
    background-color: rgb(55, 3, 3);
}

.yellow-on {
    background-color: rgb(255, 183, 0);
    box-shadow: 0 0 2.5rem rgb(255, 183, 0);
}

.yellow-off {
    background-color: rgb(112, 93, 40);
}

.green-on {
    background-color: rgb(35, 163, 15);
    box-shadow: 0 0 2.5rem rgb(35, 163, 15);
}

.green-off {
    background-color: rgb(31, 82, 31);
}
.purple-on {
    background-color: rgb(148, 8, 184);
    box-shadow: 0 0 2.5rem rgb(148, 8, 184);
}

.purple-off {
    background-color: rgb(38, 18, 48);
}