body {
    margin: 0;
    min-height: 100vh;
    background-image: url("https://imgs.search.brave.com/jQifuRkokkNxzlMhcBfbE6tX6vBILPHAVMrO58KWd-g/rs:fit:500:0:1:0/g:ce/aHR0cHM6Ly9yZW50/aW5nZmluZGVycy5j/b20vd3AtY29udGVu/dC91cGxvYWRzLzIw/MjAvMDkvY29ub2Nl/LWVmZWN0b3MtY2Fy/cmV0ZXJhLmpwZw");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.app-container {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 32px 16px;
}
